<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=SQL5014.site4now.net;Initial Catalog=DB_A505AA_diccionario;User Id=DB_A505AA_diccionario_admin;Password=diccionario2019; " providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
